# Built APK/AAB  
*.apk  
*.aab  
# Gradle  
.gradle/  
build/  
# IDE  
.idea/  
*.iml  
# Signing  
*.jks  
# Debug  
.dbg/  
# OS  
Thumbs.db  
Desktop.ini  
# Python  
__pycache__/  
*.py[cod]  
env/  
venv/ 
---- 
